html
head
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="custom.css" type="text/css">   
   title Secret page
   body
   h4 #{message}
   button(class="btn btn-primary btn-block" href="/secret") Find person
   a(href="/secret") secret
   a(href="/logout") logout